.container{
    margin: auto;
}

/* bg-color class */

.blue-gradient {
    background-color: rgb(0, 60, 185);
    height: 300px;
    color: white;
}

.blue-word {
    color: rgb(3, 107, 255);
}

.gray {
    background-color: rgb(243, 245, 249);
    height: 200px;
}

/* main:nth-child(2n+1){
    background-color: rgb(6, 15, 34);
    height: 150px;
} */

#hero {
    background-image: url(img/bg-banner-home.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}

/* h1 {
    color: white;
} */

.box{
    background-color: white;
    border-radius: 3px;
    color: black;
    text-align: center;
}

/* .navbar-brand {
    width: 100px;
    height: auto;
} */

.centered {
    text-align: center;
}